{edoc_opts,[{dir,"doc"},{todo,true},{preprocess,true},{includes,[".","deps"]}]}.

{erl_opts,[debug_info,warn_missing_spec]}.

{deps, [
    {proper, ".*", {git, "https://github.com/manopapad/proper.git", {tag, "v1.1"}}}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir,"."}]}}]}.

{xref_warnings, true}.
{xref_strict, false}.
{xref_checks, [
    deprecated_functions,
    deprecated_function_calls,
    undefined_function_calls,
    locals_not_used
]}.
